<div>


    <div>
        <h3>View Links</h3>
        <ul>
            <li>
                <a asp-controller="View" asp-action="Injects">View::Inject</a>
            </li>
            <li>
                <a asp-controller="View" asp-action="Inherits">View::Inherit</a>
            </li>
        </ul>
    </div>

</div>