@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<html>
    <body>
        <h1>Hello!</h1>
        <div>This is a razor view!</div>
        <a asp-controller="Home" asp-action="About" asp-route-boo="foo">About page</a>        
    </body>
</html>
