@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment Host;

<div>
    Running in @Host.EnvironmentName
</div>

<div>
    This type: @GetType().AssemblyQualifiedName
</div>
<div>
    Base type: @GetType().BaseType.AssemblyQualifiedName
</div>
