@page
@model Movies.Pages.SecretsModel
@{
    ViewData["Title"] = "Secrets";
}

<h2>Secrets</h2>

<div>@Model.EncryptedText</div>
<div>@Model.DecryptedText</div>

<form method="post">   
    <input type="text" name="word" />
    <input type="submit" value="Encrypt"  />
</form>

