@model Restaurant

<section class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        Cuisine: @Model.Cuisine
        <div>
            <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</section>