@model OdeToFood.ViewModels.HomePageViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>@Model.CurrentGreeting</h3>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.ActionLink(restaurant.Id.ToString(), "Details", new { id=restaurant.Id })
                </td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</body>
</html>