@using System.Threading.Tasks
@using Microsoft.Extensions.DependencyInjection
@model IServiceCollection


@{ ViewBag.Title = "Services"; }

<div>
    

    <div>
        Service count: @Model.Count()
    </div>
    <table>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ServiceType</td>
                <td>@service.Lifetime</td>
            </tr>

        }
    </table>
</div>
