@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-antiforgery="true" method="post">
        <input type="submit" name="button" value="POST" />
    </form>
</div>
</body>
</html>