@page
@model WorkingMvc6.Pages.SecretsModel
@{
    ViewData["Title"] = "Secrets";
}

<h1>Secrets</h1>

@if(Model.IsLucky)
{
    <div>You got lucky!</div>
}
else
{
    <div>No luck for you :(</div>
}

