@model OdeToFood.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

<h1>All Restaurants</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add Restaurant</a>

@section footer {
    @Model.CurrentMessage
}